.div-container-driver {
    position: relative;
    width: 1200px;
    height: 200px;
    left:20px;
    top:20px;
    background-color:white;
    border-radius: 10px;
    overflow: hidden;
    overflow-y:scroll;
}

.table-driver {
    position: relative;
    left: 20px;
    width: 1150px;
    background-color: white;
    border-radius: 10px;
}


.btn-accept {
    height: 50px;
    width: 100px;
    border-radius: 5px;
    background-color: green;
    font-size:10px;
    align-items:center;
}

.btn-reject {
    height: 50px;
    width: 100px;
    border-radius: 5px;
    font-size:10px;
    align-items:center;
    background-color: red;
}

.btn-custom-active {
    background-color: green;
    display:inline-block;
    height:30px;
    width: 80px;
    font-size:13px;
        padding: 0;
    text-align: center;
    line-height: initial;
}


.btn-custom-lock {
    background-color:orange;
    display:inline-block;
    height:30px;
    width: 80px;
    font-size:13px;
    padding: 0;
    text-align: center;
    line-height: initial;
}

.div-container-satistical{
    position: relative;
    width: 1200px;
    left:20px;
    top:20px;
    background-color:white;
    border-radius: 10px;
}

.data-picker-custom {
    top:20px;
    margin:20px;
    border-width: 5px;
    border-style:groove;
    border-radius: 12px
}

.btn-statistical-custom {
    display:inline-block;
    background-color:white;
    height:170px;
    width: 200px;
    top:20px;
    margin:20px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    line-height: initial;
}