.find_driver-btn{
    position: absolute;
    z-index: 9999;
    top: 180px;
    left: 670px;
}

.span-goal-location{
    z-index: 999;
    position: absolute;
    font-size: 30px;
    top: 5px;
    left: 360px;
    font-weight: bold;
}

.span-pickup-location{
    z-index: 999;
    position: absolute;
    font-size: 30px;
    top: 50px;
    left: 419px;
    font-weight: bold;
}

.btn-choose-mode{
    z-index: 999;
    position: absolute;
    font-size: 30px;
    top: 50px;
    left: 419px;
    font-weight: bold;
}

.span-current-mode{
    z-index: 999;
    position: absolute;
    font-size: 30px;
    top: 50px;
    left: 600px;
    font-weight: bold;
}

.info-custom {
    z-index: 999;
    position: absolute;
    height: 400px;
    width: 300px;
    top: 80px;
    right:50px;
}